/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
body,html{
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar-container>div>img{
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top:10px;
}
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    right: 150px;
}
.list-item{
    margin: 15px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}
.button-group{
    display: flex;
}
.search-icon{
    margin: 15px;
    position: relative;
    top:8px;
}
.nav-button{
    margin: 15px;
    padding: 8px 35px;
    border-radius: 12px;
    font-size: 25px;
    border: 3px solid black;
}
.hero-container{
    display: flex;
}
.square{
    background-color: rebeccapurple;
    height: 10px;
    width: 10px;
    position: relative;
    top:180px;
    left: 170px;
}
.hero-container>div>img{
    max-width: 110%;
    max-height: 110%;
    position: relative;
    top: 30px;
    right: 60px;
}

.hero-container-right{
    position: relative;
    top:80px;
}
.hero-heading{
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    text-align: center;
}
.hero-description{
    font-family:'Poppins',sans-serif;
    text-align: center;
    position: relative;
    width: 70%;
    left: 110px;
    bottom: 5px;
    font-size: 15px;

}
.button-email{
    position: relative;
    left: 250px;
    top:70px;
    padding: 3px 28px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
}
.button-join{
    position: relative;
    left: 260px;
    top:70px;
    padding: 2px 5px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
}
.contact-heading{
    position: relative;
    font-size: 25px;
    top:90px;
    left: 400px;
}
.icons{
    position: relative;
    top:70px;
    left:365px
}
.globe{
    position: relative;
    left:700px
}
.globe>img{
    height: 60px;
    width: 60px;
    bottom: 20px;
}
.hero-container>.star:nth-child(2)>img{
    height: 40px;
    width: 40px;
    position: relative;
    top:480px;
    left:600px;
}
.hero-container>.star:nth-child(3)>img{
    height: 55px;
    width: 55px;
    position: relative;
    left:1300px
}
.list-item:first-child{
    border-bottom: 2px solid black;
    border-radius: 1px;
    position: relative;
}